@model List<GetProductAdminVM>

@{
    int count = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p>@Html.Raw(@TempData["FileWarning"])</p>
                <h4 class="card-title">Products</h4>

                <div class="table-responsive">
                    <a asp-action="create" class="btn btn-success">Create product</a>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                   Price
                                </th>
                                <th>
                                    Category name
                                </th>
                                <th>
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (GetProductAdminVM product in Model)
                            {
                                count++;
                                <tr>
                                    <td class="py-1">
                                        @count
                                    </td>
                                    <td class="py-1">
                                        <img src="/assets/images/website-images/@product.Image" />
                                    </td>
                                    <td>
                                        @product.Name
                                    </td>
                                    <td>
                                        @product.Price
                                    </td>
                                    <td>
                                        @product.CategoryName
                                    </td>
                                    <td>
                                        <a asp-action="update" asp-route-id="@product.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                        <a asp-action="delete" asp-route-id="@product.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                                        <a asp-action="details" asp-route-id="@product.Id" class="btn btn-primary"><i class="mdi mdi-information-outline"></i></a>
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>